<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Coyote</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Coyote</h1>
        <p>Room ID: <span th:text="${roomId}"></span></p>
        <button id="start" type="button" class="btn btn-outline-primary mb-2">Start</button>
        <button id="exit_toggle" type="button" class="btn btn-outline-danger mb-2" data-toggle="modal" data-target="#exampleModal2">
            Exit
        </button>
        <button type="button" class="btn btn-outline-info mb-2 float-sm-right" data-toggle="modal" data-target="#exampleModal3">
            Info
        </button>

        <h2>Declared value</h2>
        <h3 id="declared_value"></h3>
        <h2>Message</h2>
        <div id="message" class="alert alert-primary" role="alert"></div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Player</th>
                    <th scope="col">Card</th>
                </tr>
            </thead>
            <tbody id="players"></tbody>
        </table>

        <button id="raise" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal">
                Raise
            </button>
        <button id="coyote" class="btn btn-warning btn-lg" type="submit">Coyote</button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">How much do you raise?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="range" class="form-control-range" id="formControlRange" value=1 min="1" max="20" step="1">
                        <input type="number" class="form-control" id="raise_value" value="1" min="1">
                        <div id="display"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="raise_execute" type="button" class="btn btn-primary">Raise</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Join Room</h5>
                        <button id="close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="name">What is your name?</label>
                                <input type="text" class="form-control" id="name" placeholder="Your name here...">
                            </div>
                        </form>
                        <div id="message2" role="alert"></div>
                    </div>
                    <div class="modal-footer">
                        <button id="join" type="button" class="btn btn-primary">Join</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Do you want to Exit?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Once you exit, you can't go back this room.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button id="exit" type="button" class="btn btn-danger">Yes, EXIT</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3">Card Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-sm text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Card</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">20</th>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th scope="row">15</th>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <th scope="row">10</th>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <th scope="row">1 ~ 5</th>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <th scope="row">0</th>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <th scope="row">0 (Night)</th>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th scope="row">-5</th>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <th scope="row">-10</th>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th scope="row">x2</th>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Max->0</th>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th scope="row">?</th>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
<script type="text/javascript" th:inline="javascript">
    const roomId = /*[[${roomId}]]*/
        let turnRegex = RegExp('Next, ' + sessionStorage.getItem('coyote_name') + "'s");
    let loseRegex = RegExp('Coyote! ' + sessionStorage.getItem('coyote_name') + " loses");
    const coyoteRegex = RegExp('Coyote!');


    if (sessionStorage.getItem('coyote_token') == null) {
        $('#staticBackdrop').modal('show')
    }

    $(function() {
        var POLLLING_INVERVAL_TIME_IN_MILLIS = 1000; //10s
        (function polling() {
            getCountUp();
            window.setTimeout(polling, POLLLING_INVERVAL_TIME_IN_MILLIS);
        }());

        function getCountUp() {
            $.ajax({
                type: "GET",
                url: "/gameinfo",
                content: "application/json",
                data: {
                    roomId: roomId,
                    token: sessionStorage.getItem('coyote_token')
                },
                dataType: "json",
            }).done(function(data) {
                console.log(data)
                if (data.playing) {
                    $('#is_playing').text("Playing")
                    $("#start").prop("disabled", true);
                    $("#exit_toggle").prop("disabled", true);
                    $("#raise_value").prop("disabled", false);
                    $("#raise").prop("disabled", false);
                    $("#coyote").prop("disabled", false);
                } else {
                    $('#is_playing').text("Waiting")
                    $("#start").prop("disabled", false);
                    $("#exit_toggle").prop("disabled", false);
                    $("#raise_value").prop("disabled", true);
                    $("#raise").prop("disabled", true);
                    $("#coyote").prop("disabled", true);
                }
                $('#players').children().remove();
                $.each(data.players, function(i, val) {
                    $("#players").append('<tr><th scope="row">' + h(val.name) + '</th><td>' + val.card + '</td></tr>')
                })
                var declared_value = parseInt(data.value, 10)
                $("#declared_value").text(data.value); //html要素変更する
                $("#message").text(data.message); //html要素変更する
                if (turnRegex.test(data.message)) {
                    $("#message").removeClass('alert-primary');
                    $("#message").removeClass('alert-warning');
                    $("#message").addClass('alert-danger');
                    $("#message").removeClass('alert-success');
                } else if (loseRegex.test(data.message)) {
                    $("#message").removeClass('alert-primary');
                    $("#message").addClass('alert-warning');
                    $("#message").removeClass('alert-danger');
                    $("#message").removeClass('alert-success');
                } else if (coyoteRegex.test(data.message)) {
                    $("#message").removeClass('alert-primary');
                    $("#message").removeClass('alert-warning');
                    $("#message").removeClass('alert-danger');
                    $("#message").addClass('alert-success');
                } else {
                    $("#message").addClass('alert-primary');
                    $("#message").removeClass('alert-warning');
                    $("#message").removeClass('alert-danger');
                    $("#message").removeClass('alert-success');
                }

            }).fail(function(jqXHR, textStatus) {
                $("dd").text("error occured"); //html要素変更する
            });
        }
    });

    function h(str) {
        return String(str).replace(/&/g, "&amp;")
            .replace(/"/g, "&quot;").replace(/</g, "&lt;").replace(/>/g, "&gt;")
    }

    function join() {
        $.ajax({
            url: "/join",
            data: {
                name: $("#name").val(),
                roomId: roomId
            },
            error: function(e) {
                console.log(e);
                $("#message2").text("URL Error")
                $("#message2").addClass("alert")
                $("#message2").addClass("alert-danger")
            }
        }).then(function(data) {
            if (data) {
                console.log(data);
                sessionStorage.setItem('coyote_token', data);
                sessionStorage.setItem('coyote_name', $("#name").val());
                turnRegex = RegExp('Next, ' + $("#name").val() + "'s'")
                loseRegex = RegExp('Coyote! ' + $("#name").val() + " loses");
                $('#staticBackdrop').modal('hide');
            } else {
                console.log("You can't join.");
                $("#message2").text("Name Error")
                $("#message2").addClass("alert")
                $("#message2").addClass("alert-danger")
            }
        });
    }

    function exit() {
        console.log('exit')
        sessionStorage.removeItem('coyote_token')
        sessionStorage.removeItem('coyote_name');
        location.href = '/'
    }

    function start() {
        $.ajax({
            url: "/start",
            data: {
                token: sessionStorage.getItem('coyote_token'),
                roomId: roomId
            }
        }).then(function(data) {
            console.log(data);
        });
    }

    function raise() {
        $.ajax({
            url: "/raise",
            data: {
                token: sessionStorage.getItem('coyote_token'),
                value: $("#raise_value").val(),
                roomId: roomId
            }
        }).then(function(data) {
            console.log(data);
            $("#raise_value").val(1);
            $("#formControlRange").val(1);
        });
        $('#exampleModal').modal('hide');
    }

    function coyote() {
        $.ajax({
            url: "/coyote",
            data: {
                token: sessionStorage.getItem('coyote_token'),
                roomId: roomId
            }
        }).then(function(data) {
            console.log(data);
        });
    }
    $(function() {
        $("form").on('submit', function(e) {
            e.preventDefault();
        });
        $("#join").click(function() {
            join();
        });
        $("#start").click(function() {
            start();
        });
        $("#exit").click(function() {
            exit();
        });
        $("#close").click(function() {
            exit();
        });
        $("#raise_execute").click(function() {
            raise();
        });
        $("#coyote").click(function() {
            coyote();
        });
    });
    var elem = document.getElementById('formControlRange');
    var target = document.getElementById('raise_value');
    var rangeValue = function(elem, target) {
        return function(evt) {
            target.value = elem.value;
        }
    }
    elem.addEventListener('input', rangeValue(elem, target));
    target.addEventListener('input', rangeValue(target, elem));
</script>

</html>